<div class="container-fluid">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="../assets/img/logo.png" width="50" height="50" class="ms-3" />
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">Customer</a></li>
            <li><a href="#" class="nav-link px-2 link-primary">Vendor</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Shipper</a></li>
        </ul>

        <div class="col-md-3 text-end pe-2">
            <a class="btn btn-primary" id="loginBtn" href="../login.html">Login</a>
            <button class="btn btn-primary" id="logoutBtn" onclick="authLogout()">Log out</button>
            <a class="btn btn-outline-primary" id="signupBtn" href="../singup.html">Sign Up</a>
        </div>
    </header>
</div>